<div class="about">
  <h3>About Cup Of Dirt</h3>
  <p>Hi I'm Joe.  Like you, I love the great state of Texas.  I started Cup Of Dirt to bring a little piece of Texas to you.  There are time when we all have to leave this great state, but that doesn't mean you need to leave it all behind.  Cup Of Dirt delivers a premium authentic 100% Texas cup of dirt to you.</p>
  
  <p>Our dirt comes in three brands.  Backyard Barbecue Cup of Dirt, Lakeside Cup of Dirt, and Urban Dallas Cup of Dirt.  I take great pride in being able to share a little bit of Texas with those familiar and unfamiliar with the great state.</p>
  <b>Backyard Barbeque Cup of Dirt</b>
  <p>Backyard Barbeque Cup of Dirt is our original cup of dirt.  This dirt is dug out of a genuine Texas suburban backyard.  With Backyard Barbeque Cup of Dirt you can remember the feel of dirt and grass between your toes as you stand in your backyard with your friends enjoying a Texas barbeque.  You can once again smell the ribs on the grill and feel the cold beer in your hand when you order Backyard Barbeque Cup of Dirt.  This Blackland Prairie dirt has a touch of the Eastern Cross Timbers.</p>
  
  <b>Our Lakeside Cup of Dirt</b>
  <p>Our Lakeside Cup of Dirt come from the eastern shore of Lewisville lake in Texas.  Lakeside Cup of Dirt will remind you of the time when you went boating.  The memory of the fun of tubing, the skill of wakeboarding, and the thrill of water skiing can once again be yours.</p>
  <p>Alternatively, The Lakeside Cup of Dirt will also remind you of standing on the banks fishing with grandpa.  You will remember the first time hooked a worm, the quality time and that exhilarating yank on your string.  Get your cup of Lakeside Cup of Dirt now!</p>
  <b>Urban Dallas</b>
  <p>Urban Dallas is our specialty dirt designed for those downtowners.  This rare dirt will remind you of the Dallas city life.  Remember the pavement, the bustling pedestrians, the sound of traffic rushing by, the eclectic resturants, the Dallas fair, the DART.  This first</p>
  <p>Please reach out if you have any questions.  Thank you for visiting us and I hope you enjoy our product!</p>
</div>