<div class="cart">
  <h3>Cart:</h3>
  <div *ngFor="let item of cartItems">
    <span>Name: {{item.product.name}}</span>
    <span>Description: {{item.product.description}}</span>
    <span>Price: {{item.product.price | currency}}</span>
    <span>Count: {{item.count}}</span>
    <button mat-raised-button (click)="decreaseAmount(item)">
      <span [hidden]="item.count > 1">delete</span>
      <span [hidden]="item.count <= 1">-</span>
    </button>
    <button mat-raised-button (click)="increaseAmount(item)">+</button>

  </div>
  <div *ngIf="cartItems.length > 0">
    <checkout [cartItems]="cartItems"></checkout>  
  </div>
  <div *ngIf="cartItems.length <= 0">
    <span> Cart is empty.  <a class="shop-now" routerLink="/shop">Shop now!</a></span>
  </div>
  
</div>
