<div>
  <header>
    <div class="logo"><h1>Cup Of Dirt</h1></div>
    <nav>
      <ul class="nav nav-fill">
        <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/cart" routerLinkActive="active">Cart {{countCartItems(cartItems)}}</a></li>
      </ul>
    </nav>
  </header>
  
  
  <router-outlet></router-outlet>
  <footer></footer>
</div>
