/*Logo*/
.logo {
  font-family: cursive;
  display: inline-block;
}

.admin {
  margin: 15px 15px 0 0;
}


/*Navigation*/
/* .nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
} */

/* .nav li {
  flex-grow: 1;
} */

.nav .nav-item a {
  color: #222;
  background: #eee;
}

.nav .nav-item a:hover {
  text-decoration: underline;
}

.nav .nav-item a.active {
  background: #ccc;
}