<div>
  <header>
    <div class="logo"><h1>Cup Of Dirt</h1></div>
    <nav class="nav">
      <ul>
        <li><a class="nav-item" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a class="nav-item" routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a class="nav-item" routerLink="/shop" routerLinkActive="active">Shop</a></li>
        <li><a class="nav-item" routerLink="/cart" routerLinkActive="active">Cart {{countCartItems(cartItems)}}</a></li>
      </ul>
      <div>

      </div>
    </nav>
  </header>
  
  
  <router-outlet></router-outlet>
  <footer></footer>
</div>
