<div>
  <header>
    <div >
      <h1 class="logo">Cup Of Dirt</h1>
      <a href="{{adminUrl}}" class="admin btn btn-light float-right">Admin</a>
    </div>
    <nav>
      <ul class="nav nav-fill">
        <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/cart" routerLinkActive="active">Cart {{countCartItems(cartItems)}}</a></li>
      </ul>
    </nav>
  </header>
  
  
  <router-outlet></router-outlet>
  <footer>
    * this is a demo site
  </footer>
</div>
