<div class="home container">
  <div class="splash">
    <img src="assets/cup-fence.jpg" alt="cup on a fence">
  </div>
  <div class="blobs row">
    <div class="blob">
      Premium authentic 100% Texas dirt hand dug out of the ground.  Our dirt is sealed with industry standard technology to deliver ultimate freshness wherever you are.
    </div>  
    <div class="blob">
      A perfect gift for our deployed Americian loving troops that need a reminder of home.
    </div>
    <div class="blob">
      Meet the founder of Cup Of Dirt and see why his passion for dirt makes Cup Of Dirt stand out from the competition.
    </div>
  </div>
</div>